/* core styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #333;
    color: #fff;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-top: 10px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
	padding: 1em 0;;
}

p {
    margin: 0;
    padding: 1em 0;
}

.container {
    padding-top: 100px;
}

/* navbar */
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    height: auto;
}
nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

nav ul li a{
    display: block;
    text-decoration: none;
} 

/* Will fix below animation on navbar later */

nav ul li a:hover, nav ul li.current a { 
    animation: dot 0.5s ease-in-out infinite alternate;
    color: green;
 }

 @keyframes dot {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.sticky {
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    background-color: white;
    height: auto;
} 

/* landing */
#landing {
    height:100vh;
    display: grid;
    grid-template-rows: 90vh auto;
} 

.container-landing {
    padding-top: 200px;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

/* about me */
#aboutme .links ul {
    list-style: none;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    justify-items: center;
    padding: 15px 0 0;
}

/* skills */
/* experience */
/* portfolio */
/* contact */
/* footer */
