/* imports fonts from fronts.css file*/
@import url(./fonts.css);

/* core styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--bs-white);
    line-height: 30px;
    text-align: center;
    background: var(--bs-dark);
    scroll-behavior: smooth;
}

/* section{
    height: 100vh;
}  */

.container{
    padding-top: 7.5rem;
    width: 80%;
}

h1 {
    text-transform: uppercase;
    padding: 0 0 1.5rem;
}

.hr {
    display: block;
    flex: 1;
    margin: 0 20% 4rem;
    height: 1px;
    background: white;
  }

  em.seo, strong.seo {
      font-weight: normal;
  }

/* landing */
.landing{
    background: black;
    height: calc(100% - 60px); 
    padding: 0;
}

.landing .container{
    padding-top: 0;
}

/* navbar */
#navbar {
    overflow: hidden;
}

.navbar {
    background-color: black;
    bottom: 0;
    text-transform: uppercase;
    font-size: 13px;
}

.navbar .navbar-nav .resume{
    font-size: 10px;
    padding: 3px 1rem 3px 1rem;
}

/* .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}
.navbar-nav  > .active > a,
.navbar-nav  > .active > a:hover,
.navbar-nav  > .active > a:focus {
    color: #000;
    background: #d65c14;
} */

.sticky {
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    background-color: black;
    height: auto;
} 

.sticky a {
    color: white;
}

.sticky + section {
    padding-top: 60px;
  }

/* about */
.about .container .profile-image img{
    margin: auto;
    width: 50%;
    height: auto;
}

.about .container .row .links{
    display: flex;
    justify-content: space-between;
    padding: 15rem 0 16px;
} 

.about .container .row .links ul{
    list-style: none;
    display: table; 
    table-layout: fixed;
    width: 100%;
    margin: 0;
}

.about .container .row .links ul li{
    display: table-cell;
}

.about .container .row .links ul li a{
    text-decoration: none;
} 

.about .container .row .links a > i{
    font-size:32px;
    color:white;
}

.about .container .links a:hover > i{
    font-size:32px;
    text-shadow: 2px 2px 5px white;
}

/* skills */
.skills{
    background: black;
}

.skills .skills-container .skills-list > ul{
    list-style-type:none;
    text-align:center;
    margin: 0;
    padding: 0;
}

.skills .skills-container .skills-list .skill-title{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.skills-bottom{
    padding-top: 4rem;
}

/* projects */
.projects {
    height: auto;
}

.projects .container .row .button-group{

}

.projects .container .row .button-group button{
    color: white;
    background: transparent;
    border: none;
    text-transform: uppercase;
    margin: 0 3rem 4rem 3rem;
}

.projects .container .row .button-group .active {
    font-weight: bold;
    /* background: black;
    border-radius: 15px 50px 30px; */
    /* text-decoration: underline; */
}



.projects .container .row .button-group button:hover{
    text-shadow: 2px 2px 5px white;
}

.projects .projects-gallery .our-project .img a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 130px;
    padding-top: 6px;
}

.projects .projects-gallery .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

.projects .projects-gallery .our-project a:link {
    text-decoration: none;
    color: white;
}

.projects .projects-gallery .our-project a:visited {
    text-decoration: none;
    color: white;
}

.projects .projects-gallery .our-project a:hover {
    color: white;
}

.projects .projects-gallery .our-project a:active {
    color: white;
}

/* education */
.education{
    background: black;
    height: auto;
}

/* contact */
.contact .container a:link {
    text-decoration: none;
    color: white;
}

.contact .container a:visited {
    text-decoration: none;
    color: white;
}

.contact .container a:hover {
    text-decoration: none;
    color: white;
}

.contact .container .email a:link {
    text-transform: capitalize;
    color: white;
    /* background: black; */
}

.contact .container .email a:hover {
    text-decoration: none;
    color: black;
    background: white;
}

.contact .email{
    padding: 3rem 0 12rem;
}

/* footer */
footer{
    width: 100%;
}

.footer .container a:link {
    text-decoration: none;
    color: white;
}

.footer .container a:visited {
    text-decoration: none;
    color: white;
}

.footer .container a:hover {
    color: white;
}

.footer .container a:active {
    text-decoration: underline;
    color: white;
}

