*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #444;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-top: 10px;
}

a {
    color: white;
}

h1, h2, h3, h4, h5 {
    margin: 0;
	padding: 10px;
	/* font-size: 1.750em; */
    font-weight: 900; 
    /* line-height: 1em; */
    letter-spacing: 0.1em;
}

p {
    margin: 0;
    padding: 1em 0;
}

.section-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

h2 {
    font-size: 2.750em;
    font-weight: 900;
    line-height: 1em;
    /* padding-top: 60px; */ 
}



.container {
    /* display: grid;
    grid-template-rows: 15vh 85vh; */
}

/* landing */
#landing {
    display: grid;
    grid-template-rows: 85vh 15vh;
}

.info {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* navbar */
nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
}
nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
}

nav ul li a {
    display: block;
    text-decoration: none;
}

nav ul li a:hover, #navbar ul li.current a { 
    animation: dot 0.5s ease-in-out infinite alternate;
 }

 #nav-sticky-wrapper.is-sticky #navbar {
	background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    height: 15vh;
}

/* about me */
#aboutme .container {
    display: grid;
    grid-template-rows: 10vh 15vh auto;
    justify-items: center;
    align-items: center;
}

#aboutme .links ul {
    list-style: none;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: 16px;
    justify-items: center;
    padding: 10px 0;
}

#aboutme .links ul li a {
    display: block;
    text-decoration: none;
}

.aboutme-details {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}



/* media queries*/

@media(min-width: 700px) {
    body {
        /* background: red; */
    }

    section {
        height: 100vh;
    }

    section .landing {
        height: 85vh;
    }

    h2{
       
        
    }

    p {
        font-size: .8em;

    }

    #landing {
        display: grid;
        grid-template-rows: 90vh 10vh;
    }

    nav ul {
        list-style: none;
        display: inline-block;
        *display: inline;
    }
    
    nav ul li {
        float: left;
    }
    nav ul li a {
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 14px 16px;
        font-size: 0.938em;
        letter-spacing: 0.1em;
        /* padding: 10px; */
    }

    .sticky {
        height: auto;
    }

    #aboutme .container .section-content{
        display: grid;
        grid-template-columns: 30vw auto;
        justify-items: center;
        align-items: center;
    }

    .aboutme-details .aboutme-interests {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 16px;
    }

    .aboutme-details .aboutme-interests .interests {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 16px;
        justify-items: center;
        align-items: center;
    }
}

/* @media(min-width: 1025px) {
    body {
        display: none;
    }
    
} */
