@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
      background-color: black;
      color: white;
  }
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.terminal {
  white-space: pre-line;
  padding: 1rem;
  min-height: 100%;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  /* background-color: aqua; */
}

.terminal input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0 0 0 8.5px;
  /* background-color: blueviolet; */
}

.terminal textarea:focus, input:focus{
  outline: none;
}

.terminal label, .terminal input[type=text] {
  display: inline-block;
}

.terminal p {
  display: inline;
}

.terminal .link {
  color: blue;
}

span, form, form > label, form > input, p, pre, div, a {
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #121212;
  color: #eee
}

.ubuntu {
  background-color: #772953;
  color: #fff
}

