@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
      background-color: black;
      color: white;
  }
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.terminal {
  white-space: pre-line;
  padding: .5rem 1rem 1rem 1rem;
  min-height: 100%;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  /* background-color: aqua; */
}

.terminal input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0 0 0 8.5px;
  /* background-color: blueviolet; */
  width: 42%;
}

.terminal textarea:focus, input:focus{
  outline: none;
}

.terminal label, .terminal input[type=text] {
  display: inline-block;
}

.terminal p {
  display: inline;
}

span, form, form > label, form > input, p, pre, div, a {
  background-color: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #121212;
  color: #eee
}

.dark .link {
  color: #4b4aec;
}

.dark-prompt {
  display: inline-block;
  color: lightblue;
}

.ubuntu {
  background-color: #300a24;
  color: #fff
}

.ubuntu .link {
  color: #4b4aec;
}

.ubuntu-prompt {
  display: inline-block;
  color: #4c7115;
}

.matrix {
  background-color: #000100;
  color: #01d000
}

.matrix .link {
  color: #01d000;
}

.matrix-prompt {
  display: inline-block;
  color: #7ed22c;
}

.dark-dracula {
  background-color: #1e1f29;
  color: #fff
}

.dark-dracula .link {
  color: #01d000;
}

.dark-dracula-prompt {
  display: inline-block;
  color: #5ca5e1;
}

.solar {
  background-color: #fdf6e3;
  color: #98a4a3
}

.solar .link {
  color: #73951d;
}

.solar-prompt {
  display: inline-block;
  color: #2697fb;
}

